.nav_bar {

    display: flex;
    justify-content: space-between;

}

.nav_search {

    display: flex;

}

.profile_infos {

    display: flex;
    flex-direction: column;

}

.profile_info_content {

    display: flex;

}

h1 {

    display: flex;
    justify-content: space-between;

}

.name {

    font-size: medium;
    font-style: normal;
}

.select {

    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
}